
/* .isie{
    width:170% !important;
  }
  .isienot{
    width:193% !important;
  } */
  .userregisterForm{
    background-color:#0076a3;
    padding:15px;
    border-radius:10px;
    margin: auto;
}
.intl-tel-input {
    position: relative important;
    display: block !important; 
}
.mandatory{
    color: red;
}

/** show/hide text style **/
.showHideText {
    position: absolute;
    right: 12px;
    top: 1;
    top: 6px;
    cursor: pointer;
}
/** show/hide text style **/

  /** **/
  .modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
  }
  .modal-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0px 0px 0px 0px;
    padding: 7px 15px;
  }
  .content-style{
    padding: 15px 15px !important;
  }
  .content-style p{
    font-size:14px;
  }
  .close-icon-style{
    position: absolute;
    right: 15px;
    top: 9px;
  }
  .btn-bottom-style{
    padding:20px;text-align:center
  }
  
  .submit-btn-upgrade{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
  }
  
  
  
  app-modal-property .modal.registermodal{
  z-index:9;
  }
  
  app-modal-property#registermodal > .modal-background{
    z-index:8;
  }
  /*** modal style close here ***/
  .invalid-feedback{
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ff7b7b !important;
    font-weight: bold;
  }
  label{
    color: #fff !important;
  }
  .userregisterForm h4{
    color: #fff !important;
 }
 .userregisterForm p{
  color: #fff !important;
}
.container-top-padding {
  padding-top: 165px !important;
  min-height: 100vh;
}