<footer>
    <!-- <div class="row no-gutters no-paddings footer-bg">
        <div class="container" align="center">
            <div class="footer-menu-1" style="padding-top: 23px;">
                <p class="heading-location">About</p>
                <ul>
                    <li>
                        <a routerLink="/aboutus" routerLinkActive="activeClss">About Us</a>
                    </li>
                    <li>
                        <a routerLink="/contactus" routerLinkActive="activeClss">Contact Us</a>
                    </li>
                    <li>
                        <a routerLink="/testimonials" routerLinkActive="activeClss">Testimonials</a>
                    </li>
                    <li>
                        <a routerLink="/egaze-services" routerLinkActive="activeClss">Services</a>
                    </li>

                </ul>
            </div>


            <div class="footer-menu-1" style="padding-top: 23px;">
                <p class="heading-location">Legals</p>
                <ul>
                    <li>
                        <a routerLink="/terms-conditions" routerLinkActive="activeClss">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a routerLink="/privacy-policy" routerLinkActive="activeClss">Privacy Policy</a>
                    </li>
                    <li>
                        <a routerLink="/disclaimer" routerLinkActive="activeClss">Disclaimer</a>
                    </li>

                </ul>
            </div>


            <div class="footer-menu-1" style="padding-top: 23px;">
                <p class="heading-location">Other Information</p>
                <ul>
                    <li>
                        <a routerLink="/agent-registration" routerLinkActive="activeClss">Agent Registration</a>
                    </li>

                    <li>
                        <a routerLink="/help" routerLinkActive="activeClss">Help</a>
                    </li>
                    <li>
                        <a routerLink="/sitemap" routerLinkActive="activeClss">SiteMap</a>
                    </li>
                    <li>
                        <a routerLink="/articles" routerLinkActive="activeClss">Articles</a>
                    </li>

                </ul>
            </div>



            <div class="footer-menu-1" style="padding-top: 23px;">
 
                <p class="heading-location">Connect</p>

                <section id="lab_social_icon_footer">
                    <div>
                        <div class="text-center center-block">
                            <a href="https://www.facebook.com/egaze" target="_new">
                                <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                            </a>
                            <a href="https://twitter.com/egaze1" target="_new">
                                <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UCXWgWp696nA1LiOG_nYr5oA?view_as=subscriber" target="_new">
                                <i id="social-gp" class="fa fa-youtube-square fa-3x social"></i>
                            </a>

                        </div>
                    </div>
                </section>




            </div>






        </div>
    </div> -->
    <div class="row no-gutters justify-content-center">
        <div class="gradient-line"></div>
    </div>
    <div class="row no-gutters justify-content-center footer-copyright">
        <p>&copy; 2018 eGAZE Property Monitoring. All Rights Reserved</p>
    </div>
</footer>