/* .isie{
  width:170% !important;
}
.isienot{
  width:193% !important;
} */
.userregisterForm{
    background-color:#0076a3;
    padding:15px;
    border-radius:10px;
    margin: auto;
}
.intl-tel-input {
    position: relative important;
    display: block !important; 
}
.mandatory{
    color: red;
}

/** show/hide text style **/
.showHideText {
    position: absolute;
    right: 12px;
    top: 1;
    top: 6px;
    cursor: pointer;
}
/** show/hide text style **/

  /* MODAL STYLES
-------------------------------*/
app-modal-property {
    /* modals are hidden by default */
    display: none;
  }
  app-modal-property .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
  
        /* z-index must be higher than .modal-background */
        z-index: 2;
        
        /* enables scrolling for tall modals */
        overflow: auto;
        display: inline-block;
    }
    app-modal-property .modal .modal-body {
            padding: 5px 20px 20px 20px;
            background: #fff;
  
            /* margin exposes part of the modal background */
            margin: 40px;
            border-radius:5px;
        }
    
  
        app-modal-property .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
  
        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 1;
    }
       app-modal-property .modal-content-padding{
         padding:20px;
       }
  
  body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
  }
  .commentbox-style{
    border-bottom:1px solid #f5f5f5;width:100%;
    padding:10px 0px;
  }
  .comment-role{
    color:#1275af;font-size:16px;
    font-weight: 500;
    margin:0px;
  }
  .comment-description{
    color:#666;font-size:13px;line-height: 18px;
  }
  .comment-reply-btn{
    cursor:pointer;color:#f9a069;font-size:16px;padding:5px 20px 5px 0px;
  }
  .comment-hrs{
    color:#ccc;font-size:12px;padding:5px 20px 5px 0px;
  }
  
  .upload-container-style{
    background-color:#fff;
    padding: 15px 30px;
    font-weight: 500;
    color: #1275af;
  }
  .upload-container-style label{
    padding-bottom:10px;
    font-size:15px!important;
  
  }
  .closeIcon-style{
    font-size:22px!important;
    cursor: pointer !important;
    color:#fd8236;
    
  }
  .closeIcon-style:hover{
    color:#fd8236;
  }
  
  .modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
  }
  .modal-heading p{
    margin-bottom: 10px;font-size:16px;font-weight:400;color:#000;
  }
  .commentbox-style{
    background-color: #fbfbfb !important;padding:20px;
  }
  .comments-style{
    background-color: #fff !important;
  }
  .comments-style .commentbox-style-1{
    background-color: #fbfbfb !important;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 6px;
  }
  /* .commentbox-style label{
    font-weight: 500;
    color: #1275af;
  } */
  
  .property-tab-style{
    background-color: #fbfbfb !important;padding:20px;
    margin-bottom:20px;
  }
  .col-form-label{
    font-size:14px;
  }
  
  
  .alert {
    padding: 0.5rem 1rem !important;
  }
  
  .form-group {
    margin-bottom: 0.5rem;
  }
  label{
    font-size:14px;
  }
  
  .font-bold-label{
    font-weight: 600;
  }
  
  /** **/
  .modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
  }
  .modal-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0px 0px 0px 0px;
    padding: 7px 15px;
  }
  .content-style{
    padding: 15px 15px !important;
  }
  .content-style p{
    font-size:14px;
  }
  .close-icon-style{
    position: absolute;
    right: 15px;
    top: 9px;
  }
  .btn-bottom-style{
    padding:20px;text-align:center
  }
  
  .submit-btn-upgrade{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
  }
  
  
  
  app-modal-property .modal.registermodal{
  z-index:9;
  }
  
  app-modal-property#registermodal > .modal-background{
    z-index:8;
  }
  /*** modal style close here ***/
  .invalid-feedback{
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ff7b7b !important;
    font-weight: bold;
  }
  label{
    color: #fff !important;
  }
  .userregisterForm h4{
    color: #fff !important;
 }
 .userregisterForm p{
  color: #fff !important;
}
.container-top-padding {
  padding-top: 165px !important;
  min-height: 100vh;
}