<div class="container container-top-padding" style="padding:30px;">
    <div class="row">
        <div class="col-md-5 offset-md-4 userregisterForm">
            <h4>Sign Up</h4>
            <p>Please fill in this form to create an account!</p>

            <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm)">
                <div class="form-group">
                    <!-- <label class="radio-inline" style="margin-right:6px;">
                            <input type="radio" formControlName="registerType" value="customer" > Customer
                          </label> -->
                    <!-- <label class="radio-inline">
                            <input type="radio" formControlName="registerType" value="agent"> Agent
                          </label> -->
                </div>
                <div class="form-group">
                    <label>First Name
                        <span class="mandatory">*</span>
                    </label>
                    <input type="text" formControlName="firstName" class="form-control" placeholder="Please Enter First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                       minlength="2" maxlength="30" (keypress)="isChartsName($event)" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        <div *ngIf="f.firstName.errors.minlength">First Name should be minimum 2 characters</div>
  
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name
                        <span class="mandatory">*</span>
                    </label>
                    <input type="text" formControlName="lastName" class="form-control" placeholder="Please Enter Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                    minlength="2" maxlength="30" (keypress)="isCharts($event)"/>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        <div *ngIf="f.lastName.errors.minlength">Last Name should be minimum 2 characters</div>
  
                    </div>
                </div>
                <div class="form-group">
                    <label>Email
                        <span class="mandatory">*</span>
                    </label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Please Enter Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                        maxlength="50" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
                    </div>
                    <div *ngIf="existsUser && existsUser.length > 0">
                        <div style="color:red">{{existsUser}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Mobile Number
                        <span class="mandatory">*</span>
                    </label>
                    <br>
                    <input type="text" ng2TelInput [ngClass]="{ 'isie': isie, 'isienot': !isie }" [ng2TelInputOptions]="{initialCountry: 'in'}" (hasError)="hasError($event)"
                        (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)"
                        placeholder="Please Enter Mobile Number" (keypress)="isNumberKey($event)" pattern="[0-9]*" class="form-control1"
                        [ngClass]="{ 'is-invalid': submitted && !mobileNumbererror }" maxlength="12"/>
                    <div *ngIf="submitted && !mobileNumbererror" style="color:#ff7b7b;font-size: 80%;font-weight: bold">
                        <!-- <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div> -->
                        <div *ngIf="!mobileNumbererror">Please Enter a valid mobile number </div>
                        <!-- <div *ngIf="f.mobileNumber.errors.pattern">Mobile numberr should be only numbers</div> -->

                    </div>
                </div>
                <div class="form-group">
                    <label>Zip Code
                        <span class="mandatory">*</span>
                    </label>
                    <input type="text" minlength="4" maxlength="10" formControlName="zipCode" placeholder="Please Enter Zip Code" 
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" />
                    <div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
                        <div *ngIf="f.zipCode.errors.required">Zip code is required</div>
                        <div *ngIf="f.zipCode.errors.minlength">Zip code should be minimum 4 Alphanumeric characters</div>
                        <!-- <div *ngIf="f.zipCode.errors.maxlength">Zip Code max value will be 6 digits only</div> -->
                    </div>
                </div>
                <div class="form-group">
                    <label>Password
                        <span class="mandatory">*</span>
                    </label>
                    <div class="passwordInput">
                        <input [type]="showText ? 'text' : 'password' " formControlName="password" class="form-control" placeholder="Please Enter Password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  minlength="4" maxlength="20" />

                        <div class="showHideText" (click)="showTextPwd(registerForm)">
                            <i class="fa fa-eye-slash" *ngIf="hideIconEye"></i>
                            <i class="fa fa-eye" *ngIf="showIconEye" (mouseleave)="mouseoverpwd()"></i>
                        </div>



                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
                            <div *ngIf="f.password.errors.pwdstrong">Password should have At least one letter, one capital letter and one number</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password
                        <span class="mandatory">*</span>
                    </label>
                    <div class="passwordInput">
                        <input [type]="showText1 ? 'text' : 'password' " formControlName="confirmPassword" placeholder="Please Enter Confirm Password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"  minlength="4" maxlength="20" />

                        <div class="showHideText" (click)="showTextPwd1(registerForm)">
                            <i class="fa fa-eye-slash" *ngIf="hideIconEye1"></i>
                            <i class="fa fa-eye" *ngIf="showIconEye1" (mouseleave)="mouseoverpwd1()"></i>
                        </div>

                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.minlength">Confirm Password must be at least 4 characters</div>
                            <div *ngIf="f.confirmPassword.errors.notSame">Password and confirm password must be match</div>
                            <div *ngIf="f.confirmPassword.errors.pwdstrong">Confirm Password should have At least one letter, one capital letter and one number</div>
                        </div>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" style="margin-top: 7.4px;" class="form-check-input" formControlName="termsChecked" id="termsChecked" (click)="terms()">
                    <label class="form-check-label" for="exampleCheck1">I accept
                        <a style="color: #fd8236" routerLink="/terms-conditions" routerLinkActive="active" target="_new">Terms &amp; Conditions.</a>
                    </label>
                </div>
                <div *ngIf="termsCheckederrors!=''" style="color:#ff7b7b ;font-size: 80%;font-weight: bold">
                    <div>{{termsCheckederrors}}</div>

                </div>
                <div class="form-group" align="center" style="margin-top:15px;">
                    <button [disabled]="loading" class="submit-btn">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>

<app-loading-div *ngIf="isLoading"></app-loading-div>


<!-- register modal -->
<app-modal-property id="registermodal">
    <div class="modal registermodal">
        <div class="row justify-content-md-center justify-content-sm-center no-gutters">
            <div class="modal-body col-md-4 col-sm-8" style="padding:0px;">

                <div class='col modal-heading'>
                    <p>Validate OTP(One Time Passcode)
                    </p>
                </div>

                <div class="close-icon-style">
                    <i class="fa fa-times closeIcon-style" aria-hidden="true" (click)="closeModal('registermodal');"></i>
                </div>

                <div class="modal-content-padding">
                    <!-- <app-messagemodalpopup></app-messagemodalpopup> -->
                    <div class="row justify-content-md-center row no-gutters">
                        <div class="col">
                          <form [formGroup]="otpForm" (ngSubmit)="OTPSave()">
                            <div class="form-group">
                              <label for="otpInput">Please enter OTP</label>
                              <input type="text" class="form-control" id="otpInput" aria-describedby="otpHelp" maxlength="4" 
                              placeholder="Enter OTP" formControlName="otp" [ngClass]="{ 'is-invalid': submitted1 && f1.otp.errors }">
                              <div *ngIf="submitted1 && f1.otp.errors" class="invalid-feedback">
                                  <div *ngIf="f1.otp.errors.required">OTP is required</div>
                              </div>
                            </div>
                            <div class="col" align="right">
                                <p *ngIf="resend"><a style="color: #007bff;cursor:pointer" (click)="resendotp()">Resend OTP </a></p>
                                <p *ngIf="!resend">{{timerd}}</p>
                              </div>
                            <div class="col" align="center">
                              <button type="submit" class="submit-btn">Validate OTP</button>
                            </div>
                            
                            <div class="col">
                              <p>OTP has been sent to your mobile and Email.</p>
                            </div>
                          </form>
                          <div class="col" align="center" *ngIf="errorMessage && errorMessage.length > 0">
                            <p style="color:red">{{errorMessage}}</p>
                          </div>
                        </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
    <app-loading-div *ngIf="isLoading"></app-loading-div>
</app-modal-property>
<!-- register modal -->