<div class='container-fluid no-padding container-top-padding'>
    <div class="container need-padding">
        <h3 class="page-heading-1">About eGAZE</h3>
        <div class="row">
            <p class="content-style" style="padding-top:35px; padding-left:15px;">
                    Headquartered in Hyderabad, eGAZE is a fast-growing property monitoring service company that seeks to empower property owners living in India and abroad. We employ a complete software solution to make it convenient for people living in any part of  the world  to monitor properties without physically visiting our offices.
            </p>
        </div>
        <div class="row">
            <div class="col-md-9">
                <p class="content-style" style="padding-top:35px;">
                        The eGAZE Way is our protocol, our Code of Conduct. It truly reflects our value system and beliefs. For us, someone’s home, farm house or any property represents their personality, their values. We treat properties the way we treat people. And these values are embedded deeply in our style of working and environment.
                    </p>
                    <p>
                            Here’s what The eGAZE Way really means to us -
                    </p>
            </div>
            <div class="col-md-3 no-padding">
                <img src="/assets/images/egaze_monitoring.png" class="img-fluid"/>
            </div>
        </div>

    </div>

    <div style="background-color: #f6f5f5;padding: 5px 0px;">

        <div class="container need-padding" style="padding-left: 25px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/egaze_protecting.png" class="img-fluid" />
                </div>
                <div class="col-md-8 no-padding"><br><br>
                    <strong>Be Transparent</strong>
                    <p class="content-style" style="padding-top:10px;">Our clients are human beings first. We feel their anxiety, their stress about properties that are so far away from them. We keep an open communication channel that keeps our clients at peace.</p>
                    <br>
                    <strong>Be good listeners</strong>
                    <p class="content-style" style="padding-top:10px;">For us a client request or complaint is not a support ticket, it’s a genuine concern. We truly listen to our clients with empathy and that helps us deliver according to their preferences.</p>
                </div>
            </div><br>
            <div class="row">
                    <strong>Be Accountable</strong>
                    <p class="content-style" style="padding-top:10px;">While reports are an integral part of our work, we don’t work for reports. We work to monitor, protect and guard properties. Whether we hit or we miss, we take full responsibility for what we do and how we do it.</p><br>
                    <strong>Be resourceful</strong>
                    <p class="content-style" style="padding-top:10px;">We began property monitoring service with full confidence in our resources – legal, personal and professional. Our team is well aware of property trends, laws & compliances and the changing needs of the market.</p><br>

            </div>
        </div>
    </div>






</div>