<div class='container-fluid container-top-padding' style="padding-left:0px;padding-right:0px;">
    <div class="container">
        <h3 class="page-heading-1">About eGAZE</h3>
        <div class="row">
            <div class="col-md-9">
                <p class="content-style" style="padding-top:60px;">
                    eGaze is India&#39;s first comprehensive property management portal with a specific focus on rural properties. We are the
                    only service provider who provides end-to-end property management services, in an industry where most
                    other vendors only provide specific services, or service only buildings, or only urban areas, etc.

                    <br/>Our core mission is to provide property management services to owners living away from their property
                    and act as an owner delegate with respect to any regulatory and compliance obligation for the property.</p>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/egaze_monitoring.png" class="img-fluid" style="padding:10px" />
            </div>
        </div>

    </div>

    <div style="background-color: #f6f5f5;">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/assets/images/egaze_protecting.png" class="img-fluid" style="padding:10px" />
                </div>
                <div class="col-md-9">

                    <p class="content-style" style="padding-top:50px;">With a core team of veteran real estate professionals, rural entrepreneurs and cloud solution delivery
                        architects, the team eGaze has a cumulative experience of over 30 years in providing real estate
                        and digital management solutions. Commencing with our core property monitoring solutions, we will
                        soon be offering end-to-end property lifecycle management services including acquisition, monitoring,
                        maintenance and disposal offerings.</p>
                </div>
            </div>
        </div>
    </div>






</div>