<div class='container container-top-padding'>
  <div class="row">
    <div class="col">
      <h6 class="heading-style-1">About Us</h6>

      <p class="content-style">
        <b>eGaze</b> is India's first comprehensive property management solution with a particular focus on land in non-urban
        areas.
      </p>

      <p class="content-style">
        <b>Our core mission</b> is to provide property management services to owners living away from their property and act as a owner
        delegate with respect to any regulatory and compliance obligation for the property.</p>

      <p class="content-style">With a core team of veteran real estate professionals, rural entrepreneurs and cloud solution delivery architects,
        the team eGaze has a cumulative experience of over 30 years in providing real estate and digital management solutions.</p>

      <p class="content-style">Commencing with our core property monitoring solutions, we will soon be offering end-to-end property lifecycle management
        services including acquisition, monitoring, maintenance and disposal offerings.</p>


    </div>




  </div>
</div>