.package-btn{
    padding:3px 25px;
    font-size:16px;
    color:#fff;
    background-color: #1275af;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
    margin:25px;
    border:0px;
}
.package-hding{
    padding:10px;
    text-align:center;
    font-size:20px;
    width:100%;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}
.package-hding p{font-size:16px;}
.package-options{
/* background-color:#f7faff; */
    width:100%;
    min-height:240px;
    /* padding:10px; */
    text-align: justify !important;
    padding: 0px 8px;
}
.package-options > ul{
    /*margin:0px;*/
    margin: 35px 5px 0px 15px;
    padding:0px;
    list-style-position: inside;

}
.package-options > ul > li{
    list-style: none;
    font-size: 14px;
    /*margin: 35px 5px 10px 15px;*/
    color: #5d5d5d;
    line-height: 22px;
    text-indent: 15px;
    text-align: left;
}
.package-options > ul > li > i.fa{
    color: #fcc793;
    font-size: 12px;
    padding-right: 5px;
}
.package-tile-style{
    min-height:360px;
    margin:10px;
    padding:0px;
    box-shadow: 0px 2px 9px rgba(0,0,0,0.2);
    border-radius: 3px;
    vertical-align: top;
}
.package-tile-style:nth-child(2){
    min-height:380px!important;
    vertical-align: top;
    margin-top:-10px;
    margin-bottom:-10px;
}
.package-container{
    background-color:#fff;width:100%;
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
    margin:0px;
    padding:0px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 1px 8px rgba(0,0,0,0.1);

}
.package-side-left{
    width:18%;
    align-self:stretch;
    box-sizing: border-box;
}
.package-side-left ul{
    width:100%;
    margin:0px;
    padding:0px;
}
.package-side-left ul li{
    list-style: none;
    padding:1em 22px;
    color:rgba(0,0,0,0.8);
    font-size:22px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    border-right:1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;

    -webkit-transition: color 12s, font-size 12s ease-out;
    -moz-transition:    color 12s, font-size 12s ease-out;
    -ms-transition:     color 12s, font-size 12s ease-out;
    -o-transition:      color 12s, font-size 12s ease-out;
    transition:         color 12s, font-size 12s ease-out;
}
.package-side-left ul li:hover{
    /** font-size:26px !important;**/
    font-weight: 500;
 
}
.package-side-left ul li:last-child{
    border-bottom:none;
}
.package-right-side{
    width: 82.1%;
    background-color: #f1f8fd;
    align-self:stretch;
    padding:15px;
    box-sizing: border-box;
    border-right:4px solid #fd823694;
}

.package-right-side-contain{
    width:100%;padding:0px;margin:0px;
}
.package-choose-color{
    color:#1275af;
}
.package-contain-heading{
    font-size:15px;
    font-weight: 500;
    padding:0px 10px;
}
.package-font-style{
    font-size:14px;
}

.active-package-tab{
    background-color: #f1f8fd;
    font-size:26px !important;
    border-right:0px!important;
    font-weight: 500;
}
.stylebtn{
    display:none-block;
}
.orange-clr-btn{
    padding:4px 10px;
    font-size:14px;
    color:#fff;
    background-color: #fd8236;
    border-radius:3px;
    cursor:pointer;
    display:inline-block;
    border:0px;
    font-weight: 500;
}
.modallg{
    width: 600px !important;
}
.modal-body{
    width: 600px !important;
}
.modal-dialog{
    width: 600px !important;
}

.modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
}
.modal-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0px 0px 0px 0px;
    padding: 7px 15px;
}
.content-style{
    padding: 15px 15px !important;
}
.content-style p{
    font-size:14px;
}
.close-icon-style{
    position: absolute;
    right: 15px;
    top: 9px;
}
.btn-bottom-style{
    padding:20px;
    text-align:center
}

.submit-btn-confirm{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}

.closeIcon-style{
    font-size:22px!important;
    cursor: pointer !important;
    color:#fd8236;
    
  }
  .closeIcon-style:hover{
    color:#fd8236;
  }

  .box-layout1{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align: top;
    display: inline-block;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    /*width: 265px;*/
    /*width: 33%;*/
    width: 28%;
    /*height: 430px;*/
    height: 505px;
    padding: 0px 0px;
    border-radius: 20px;
  }
  .box-middle-layout{
    border-radius: 20px;
    /* border-top-left-radius: 5px; */
    /* border-bottom-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    /* border-top-right-radius: 5px; */
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    z-index: 1;
    margin-top: -34px;
    vertical-align: top;
    /*box-shadow: 0px 2px 20px rgba(0,0,0,0.2);*/
    box-shadow: 0px 2px 40px rgba(0,0,0,0.4);
    display: inline-block;
    background-color: #fff;
    /*width: 260px;*/
    /*width: 33%;*/
    width: 28%;
    /*height: 465px;*/
    /*height: 470px;*/
    height: 530px;
  }
  .box-middle-layout ul li{
    font-size:16px;
  }
  .middle-head{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #e2c960;
    color: #fff;
    padding: 10px 0px;
    background-image: linear-gradient(#f1e274, #e2c960);
    font-family: 'open_sansbold';
    letter-spacing: 1.5px;
}

  
.text-heading{
    font-size: 22px;
    padding: 10px 0px;
}
.price-tag{
       /* font-weight: 600; */
       padding: 10px 10px 0px;
       line-height: 19px;
       font-size: 15px;
       color: #656f92;
       cursor: pointer;
}
.tabs-style{
    width:100%;display:inline-block;
    text-align:center;
}
.tabs-style ul{
    margin: 15px 0px 30px 0px;
    padding:0px;

}
.tabs-style ul li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 15px;
    color: #066b91;
    font-weight: 500;
    cursor:pointer;
    background-color: #eaeaea;
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 50px;
    background-image: linear-gradient(#e5e4e5, #eaeaea);
    box-shadow: 0px 1px 15px rgba(36, 34, 34, 0.7);
}
.tabs-style ul li.activeTab{
    /* border-bottom: 1px solid #fd8236;
    color: #fd8236; */
    background-color: #028fd9;
    font-weight: 600;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    background-image: linear-gradient(#028fd9, #30b6fa);
    box-shadow: 0px 1px 15px rgba(36, 34, 34, 0.7);
}
.additional-style{
    box-shadow: 0px 0px 24px rgba(0,0,0,0.1);
    display: inline-block;
    background-color: #fff;
    width: auto;
    height: auto;
    margin: 0px auto;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
}
.package-bg{
    background-image: url(/assets/images/package_bg1.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height:175px;
    background-size: cover;
    opacity: 5;
    margin-top:-6px;
}
.package-page-heading{
    text-align: center;
    padding: 35px 10px 10px 10px;
    color: #fff;
    /*text-shadow: 1px 1px 2px rgba(0,0,0,0.8);*/
    text-shadow: 0px 2px 15px rgba(36, 34, 34, 0.8);
    font-size: 40px;
    font-weight: 600;
}

ul.additional-list{
margin:0px;
padding:0px 30px;
}
ul.additional-list li{
    list-style: none;
}

ul.additional-list li::before{
    content: "\2022";
    color: #00bff3;
    display: inline-block;
    width: 9px;
    margin-left: -1em;
    font-size: 18px;
}
@media(max-width:600px){

.package-page-heading{
    text-align: center;
    padding: 50px 10px 30px 10px;
    color: #000;
}
.package-bg{
    background-image: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height:auto;
    background-size: none;
    margin-bottom:100px;   
}
}
.package-div-height{
    min-height:100vh;
}

.inner-page-bg{
    background: url(../../assets/images/inner_page_bg.png) no-repeat center bottom;
    /*background-size:cover;*/
    background-position:fixed;
    background-color: #f6f4f5;
  }
 
.silver-box{
    font-size: 20px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #d0d0d0;
    color: #fff;
    padding: 15px 0px;
    background-image: linear-gradient(#d0d0d0, #b2b2b0);
    position: relative;
    font-family: 'open_sansregular';
    letter-spacing: 1.5px;
}  

.custom-box{
    font-size: 20px;
    font-weight: 600;
    /*text-transform: uppercase;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #636d90;
    color: #fff;
    padding: 15px 0px;
    background-image: linear-gradient(#636d90, #565f7d);
    font-family: 'open_sansregular';
    letter-spacing: 1.5px;
} 

/*********** sravan 22/02/19 ****************/
h4.package-page-heading.row.justify-content-center:after {
    content: "";
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.98) 21%, rgba(255,255,255,0) 22%, rgba(32,106,145,0) 29%, rgba(0,85,129,1) 30%, rgba(0,85,129,1) 65%, rgba(0,85,129,0) 66%, rgba(227,236,241,0) 74%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.98) 21%,rgba(255,255,255,0) 22%,rgba(32,106,145,0) 29%,rgba(0,85,129,1) 30%,rgba(0,85,129,1) 65%,rgba(0,85,129,0) 66%,rgba(227,236,241,0) 74%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.98) 21%,rgba(255,255,255,0) 22%,rgba(32,106,145,0) 29%,rgba(0,85,129,1) 30%,rgba(0,85,129,1) 65%,rgba(0,85,129,0) 66%,rgba(227,236,241,0) 74%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    position: absolute;
    width: 180px;
    height: 4px;
    bottom: -4px;
    left:45%;
}
.package-page-heading {
    position: relative;
}

/** srinivas css start **/

.heading{
    font-size: 22px;
    font-family: 'open_sansregular';
    
}

@media (min-width: 992px) and (max-width: 1200px) {
    .box-middle-layout{
        /*height: 530px;*/
        height: 590px;
    }
    .box-layout1 {
        height: 530px;
    }
    .buyit-butt{
        margin-top: 68px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .box-middle-layout{
        /*height: 620px;*/
        height: 790px;
    }
    .box-layout1 {
        height: 730px;
    }
}

@media (max-width: 768px) {
    .below {
        display: block;
        padding-top: 200px;
    }
    .above {
        display: none;
    }
}
@media (min-width: 769px) {
    .below {
        display: none;
    }
    .above {
        display: block;
    }
}
.dot {
    background: #229cf2;
    border-radius:50%;
    width: 8px;
    height: 8px;
    margin-right:10px;
    display: inline-block;
    vertical-align: super;
}