<div id="home-banner" class="launch-image-banner">

  <div id="home-carousel" class="carousel slide" data-ride="carousel" data-pause="false">
    <!-- data-pause="true" -->
    <!-- <ol class="carousel-indicators">
          <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#home-carousel" data-slide-to="1"></li>
          <li data-target="#home-carousel" data-slide-to="2"></li>
          <li data-target="#home-carousel" data-slide-to="3"></li>
          <li data-target="#home-carousel" data-slide-to="4"></li>
          <li data-target="#home-carousel" data-slide-to="5"></li>
          <li data-target="#home-carousel" data-slide-to="6"></li>
          
        </ol> -->

    <div class="carousel-inner" role="listbox">

      <div role="option" class="carousel-item item banner2 active"></div>
      <div role="option" class="carousel-item item banner5"></div>
      <div role="option" class="carousel-item item banner3"></div>
      <div role="option" class="carousel-item item banner6"></div>
      <div role="option" class="carousel-item item banner7"></div>
      <!-- <div role="option" class="carousel-item item banner1 "></div>
      <div role="option" class="carousel-item item banner6"></div>
      <div role="option" class="carousel-item item banner7"></div> -->
      <!-- <a class="carousel-control-prev custom-carousel-control" href="#home-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon custom-control-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next custom-carousel-control" href="#home-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon custom-control-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->

    </div>
  </div>

  <div class="container">
    <!-- 
    <div class="row">
      <div class="col-lg-12">
        <div class="title-heading-on-slider">
          Monitor and protect your property with eGAZE
          <div class="under-line"></div>
        </div>
      </div>

    </div> -->


    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 p-0" align="center">
        <div class="col-md-10 col-lg-10 col-sm-12 p-0">
          <div class="prompt animated rollIn">
            <div class="row">
              <div class="slider-text-style">
                Now Servicing Andhra Pradesh, Telangana, Bengaluru and Mangalore
              </div>
              <div class="slider-text-style-btn" *ngIf="user===null">
                <a routerLink="/registerform" routerLinkActive="activeClss">
                  Register to get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- 
<div id="home-cta">
  <div class="container animated slideInDown">
    <div class="row">
      <div class="col-sm-4">
        <a  class="cta">
          <span class="icon">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
          <span class="title">Hire Us</span>
          <span class="sub">Market Property Management</span>
        </a>
      </div>
      <div class="col-sm-4">
        <a  class="cta">
          <span class="icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
          <span class="title">Our Services</span>
          <span class="sub">Find a eGaze for service</span>
        </a>
      </div>
      <div class="col-sm-4">
        <a  class="cta">
          <span class="icon">
            <i class="fa fa-key" aria-hidden="true"></i>
          </span>
          <span class="title">Monitoring</span>
          <span class="sub">Start Free Trial</span>
        </a>
      </div>
    </div>
  </div>
</div> -->


<div id="home-welcome" class="banner">
  <div class="container">
    <div class="home-page-welcome">Welcome to eGAZE
  </div>
  <div align="center" style="margin-top:-21px;margin-bottom: 20px;"><img src="../../assets/images/home_page_uderline_1.png" width="100px" /></div>
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/images/home_page_4.png" class="img-fluid" />
      </div>
      <div class="col-md-9">
        <p>
          Welcome to eGAZE, a Property Monitoring Software. eGaze is India's first comprehensive property monitoring solution with
          a particular focus on land in non-urban areas. Our core mission is to provide property management services to owners
          living away from their property and act as a owner delegate with respect to any regulatory and compliance obligation
          for the property.
        </p>
        <p>
          With a core team of veteran real estate professionals, rural entrepreneurs and cloud solution delivery architects, the team
          eGaze has a cumulative experience of over 30 years in providing real estate and digital management solutions. Commencing
          with our core property monitoring solutions, we will soon be offering end-to-end property lifecycle management
          services including acquisition, monitoring, maintenance and disposal offerings. </p>

      </div>
    </div>
  </div>
</div>


<div id="home-info" class="banner" style="background-color:#f6f4f5;">
  <div class="container">
    <div class="row">

      <div class="col-md-4" style="margin-bottom:10px;cursor: pointer;" routerLink="/whyeGAZE">
        <div>
          <img src="../../assets/images/home_page_1.png" class="img-fluid" />
        </div>
        <div class="home-page-tile-style tile-1-bg">
          <p class="home-page-tile-head">
            Why Hire Us</p>
          <div class="head-underline"></div>
          <p>
            Our years of experience and local area knowledge makes us the only choice for your Market property manager.
          </p>
        </div>
      </div>


      <div class="col-md-4" style="margin-bottom:10px;cursor: pointer;" routerLink="/abouteGAZE">
        <div>
          <img src="../../assets/images/home_page_2.png" class="img-fluid" />
        </div>
        <div class="home-page-tile-style tile-2-bg">
          <p class="home-page-tile-head">
            Meet the Team</p>
          <div class="head-underline"></div>
          <p>
            A cumulative experience of over 30 years in providing real estate and digital management solutions.
          </p>
        </div>
      </div>



      <div class="col-md-4" style="margin-bottom:10px;cursor: pointer;" routerLink="/testimonials">
        <div>
          <img src="../../assets/images/home_page_3.png" class="img-fluid" />
        </div>
        <div class="home-page-tile-style tile-3-bg">
          <p class="home-page-tile-head">
            From Our Clients</p>
          <div class="head-underline"></div>
          <p>
            "I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take care of my farmhouse, without even
            speaking to anybody." </p>
        </div>
      </div>









    </div>
  </div>
</div>
<!-- <form ngNoForm action="https://test.payu.in/_payment" name="payuform" method="POST"   >

  <input type="hidden" name="key" value="8IJWsyEj" />
  <input type="hidden" name="salt " value="7e9GXyMM0H"/>
  <input type="hidden" name="txnid" value="1234" />
  <input type="hidden" name="amount" value="1" />
  <input type="hidden" name="productinfo" value="package" />
  <input type="hidden" name="firstname" value="kishore" />
  <input type="hidden" name="email" value="madishetty.kishore@gmail.com" />
  <input type="hidden" name="phone" value="9703047975" />
  <input type="hidden" name="surl" value="http://localhost:4200/payment/success" />
  <input type="hidden" name="furl" value="http://localhost:4200/payment/notsuccess" />
  <input type="hidden" name="hash" value="8IJWsyEj" />
  <input type="hidden" name="hash_string" value="" />
  <input type="submit" value="Submit"  />
  </form>


 -->

<div id="footer">
  <!-- <div class="foot-form banner banner-primary">
    <div class="container">
      <div class="lead">Free Rental Analysis</div>
      <hr class="light">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <form data-ion="form" data-name="footer" data-inline="1">
            <label for="name" hidden="">Your Name (required)</label>
            <input type="text" name="name" id="footer" required="" placeholder="Name" aria-label="Enter Your Name">
            <label for="phone" hidden="">Phone</label>
            <input type="phone" name="phone" id="phone" placeholder="Phone" aria-label="Enter your Phone Number">
            <label for="email" hidden="">Email (required) </label>
            <input type="email" name="email" id="email" required="" placeholder="Email" aria-label="Enter Your Email">
            <label for="comment" hidden="">Comments (required)</label>
            <textarea name="comment" id="comment" rows="5" required="" placeholder="Comments" aria-label="How May We Help?"></textarea>
            <button class="btn btn-round" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div class="banner">
    <div class="container">
      <!-- © 2018 eGAZE. All Rights Reserved |
      <a href="/contact">Contact Us</a> |
      <a href="/sitemap">Sitemap</a> -->
      <!-- <div class="social">
        <ul>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
              <span class="sr-only">Youtube</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-google" aria-hidden="true"></i>
              <span class="sr-only">Google Plus</span>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              <span class="sr-only">Linked In</span>
            </a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="affil">
        <ul>
          <li>
            <img src="../../assets/images/affil-narpm.png" alt="National Association of Residential Property Managers Logo">
          </li>
          <li>
            <img src="../../assets/images/affil-eho.png" alt="Equal Housing Opportunity Logo">
          </li>
          <li>
            <img src="../../assets/images/affil-caa.png" alt="Communities Association Logo">
          </li>
        </ul>
      </div> -->
      <div class="ada">
        <hr>
        <!-- eGAZE is committed to ensuring that its website is accessible to people with disabilities. All the pages on our
        website will meet W3C WAI's Web Content Accessibility Guidelines 2.0, Level A conformance. Any issues should be reported
        to
        <a href="mailto: support@egaze.in" class="email">support@egaze.in</a>.
        <a class="cursorpointer">Website Accessibility Policy</a> -->
        <a routerLink="/terms-conditions" routerLinkActive="activeClss">Terms & Conditions</a>
        <br>
        <a routerLink="/privacy-policy" routerLinkActive="activeClss"> Privacy Policy</a>
        <br> Refund Policy
        <hr>
      </div>
      <br>
    </div>
  </div>
</div>

