
.registeruserName{
    padding:5px 10px;
    width:100%;
    /* background-color:#1275af; */
    color:#fff;
    padding:10px 10px;
}
.registeruserName > span{
    font-size:15px;
}
.registeruserName > i.fa{
    font-size:25px;padding-right:5px;
 }
.leftside-menu{
    width:100%;
    padding:0px;
    min-height: 400px;
    background-color:#1275af;

}
.leftside-menu ul {
    margin:0px;
    padding:0px;
}

.leftside-menu ul li{
  list-style: none;
  padding:10px 15px;
  border-bottom: 1px solid #fff;
 font-size:18px;
 color:#fff;
 font-weight: 400;
 cursor: pointer;
}
.propertyheading{
    background-color:#1275af;text-align:center;padding:5px 15px;color:#fff;font-size:16px;
border-radius: 3px;display:inline-block;cursor: pointer;
/* box-shadow: 0px 0px 1px #1275af;
-moz-box-shadow: 0px 0px 1px #1275af;
-webkit-box-shadow: 0px 0px 1px #1275af; */
border: 1px solid #a1d6f6;
}

.table-container-style{
    /* padding: 30px; */
    background-color: #fff;
    /* margin: 10px 0px; */
    border-radius: 6px; 
    width:100%;
}
.table-container-style thead{
   /** background-color: #fdf8f5; **/
   background-color:#fd9958;
}

.table-container-style thead th{
    vertical-align: middle;
    color: #1275af;
    font-size:15px;
    color:#fff!important;
    font-weight: 500;
}

.table-container-style thead th:first-child{
    width:35px!important;
}

.table-container-style .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.04)!important;
}

.table-container-style .table-striped tbody tr:nth-of-type(even) {
    background-color:#fff!important;
}

.table-container-style .table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 3px;
    border-bottom-color: #30a2ec !important;
}



.table-container-style table td{
    font-size: 14px;
    min-width: 100px;
    vertical-align: middle;
    text-align: left;
}
.table-th-styles th{
    vertical-align: bottom;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}
.table-th-styles td.viewbtn{
    cursor: pointer;
}

span.mandatory{
    color:red;
}
.activeTabdash{
    background-color:#fff;
    color:#1275af !important;
}
.right-content-bg{background-color:#f7fcff}
.tabActions{
    /* min-height:48px; */
    padding:0px;text-align:center;
    /** background-color:#9ad5ff; **/
    background-color:#cce8fc;
    /* padding: 7px; */
}
/** alert table design **/

.alertDivstyles{
    width:100%;
    height:100%;
    position:relative;
    margin-bottom:5px;
}

.alertDivstyles .divTable{
display:table;
width:100%;
border-collapse: collapse;
}
.alertDivstyles .divTable .divRow{
    display:table-row;
    border-bottom: 1px solid #ccc;
}

.alertDivstyles .divTable .divRow:first-child .divColoumn{
    font-size:16px;
    font-weight: 500;
}
.alertDivstyles .divTable .divRow .divColoumn{
     display:table-cell;
    /* display: table-column; */
    width:25%;
    padding:5px 10px;
    color:#000;
    text-align:left;
    font-size:14px;
    font-weight: 400;
}

.alertcontainer{
    width:100%;
    height:100%;
    border-bottom:1px solid #cac4c4;
    padding:5px;
    vertical-align: middle;
}
.alertcontainer .alertColomns{
width:21%;
display:inline-block;
word-wrap: none;
color:#000;
font-size:14px;
text-align: left;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding:0px 10px;
}
.alertcontainer .alertColomns:last-child{
    width:5%;
    white-space: nowrap;
    text-align: right;
}
.alertcontainer .alertColomns:first-child{
    width:5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordionshowHide{
    width:100%;display:none;border:1px solid #f5f5f5;padding:10px;
}


.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0px !important;
    border-top: 0px solid !important;
    border-right: 0px solid transparent !important;
    border-bottom: 0px !important;
    border-left: 0px solid transparent !important;
    content: "\F107";
    font-family: FontAwesome;
}
.mainAlertcontainer{
    background-color:#fff;
}
td.noAlerts{
    font-size:16px!important;;
    padding:25px!important;;
    text-align:center!important;
}
caption { 
    caption-side: top;
  
}


.container-bg-style{
    padding: 30px !important;
    background-color: #fbfbfb !important;
    margin: 0px 0px 20px !important;
    border-radius: 0px !important;
    width: 100% !important;}

.userdashboardTab{margin:0px;padding:0px;padding-top:20px;}
.userdashboardTab ul{
    width:100%;
    display:inline-block;
    /** background-color: #f5f5f5; **/
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #f5f5f5;
}
.userdashboardTab ul li{
    list-style: none;
    display:inline-block;
    font-size:16px;
    color:#000;
    padding:6px 15px;
    cursor: pointer;
    background-color:#e0dede;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    transition: all 0.5s ease;
    margin-right:-1.5px;
}
@media(max-width:420px){
    .userdashboardTab ul li{
        font-size:11px;
        padding:5px 8px;
    }
}

.userdashboardTab ul li.active{
    background-color:#1275af !important;
    color:#fff;
    box-shadow: 0px -2px 4px #808080;

}


.verticalTab{margin:0px 0px 10px;padding:0px;}
.verticalTab ul{width:100%;display:inline-block;margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #f5f5f5;}

.verticalTab ul li{list-style: none;font-size:16px;padding:5px 15px;cursor: pointer;
background-color:#1275af;color:#fff;display:inline-block;

border-top-left-radius: 13px;
border-top-right-radius: 13px;
margin-right: -5px;
transition: all 0.5s ease;
box-shadow: 0px -2px 4px #808080;
pointer-events: none;
}

.verticalTab ul li.deactive{
    opacity:0.4;
    cursor:default;
    pointer-events: none;
    box-shadow: 0px 0px 0px #808080;

}

.uploadfile-style{
    margin-right: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 3px;
    margin-bottom:0px!important;
}

.addmore-btn{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}
.remove-btn{
    background-color: #349edc;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}
.upload-btn{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 9px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}

/* MODAL STYLES
-------------------------------*/
app-modal-property {
    /* modals are hidden by default */
    display: none;
}
app-modal-property .modal {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .modal-background */
        z-index: 2;
        
        /* enables scrolling for tall modals */
        overflow: auto;
        display: inline-block;
    }
    app-modal-property .modal .modal-body {
            padding: 5px 20px 20px 20px;
            background: #fff;

            /* margin exposes part of the modal background */
            margin: 40px;
            border-radius:5px;
        }
    

        app-modal-property .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .modal and above everything else  */
        z-index: 1;
    }


body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.commentbox-style{
    border-bottom:1px solid #f5f5f5;width:100%;
    padding:10px 0px;
}
.comment-role{
    color:#1275af;font-size:16px;
    font-weight: 500;
    margin:0px;
}
.comment-description{
    color:#666;font-size:13px;line-height: 18px;
}
.comment-reply-btn{
    cursor:pointer;color:#f9a069;font-size:16px;padding:5px 20px 5px 0px;
}
.comment-hrs{
    color:#ccc;font-size:12px;padding:5px 20px 5px 0px;
}

.upload-container-style{
    background-color:#fff;
    padding: 15px 30px;
    font-weight: 500;
    color: #1275af;
}
.upload-container-style label{
    padding-bottom:10px;
    font-size:15px!important;

}
.closeIcon-style{
    font-size:22px!important;
    cursor: pointer !important;
    color:#fd8236;
    
  }
  .closeIcon-style:hover{
    color:#fd8236;
  }

.modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
}
.modal-heading p{
    margin-bottom: 10px;font-size:16px;font-weight:400;color:#000;
}
.commentbox-style{
    background-color: #fbfbfb !important;padding:20px;
}
.comments-style{
    background-color: #fff !important;
}
.comments-style .commentbox-style-1{
    background-color: #fbfbfb !important;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 6px;
}
/* .commentbox-style label{
    font-weight: 500;
    color: #1275af;
} */

.property-tab-style{
    background-color: #fbfbfb !important;padding:20px;
    margin-bottom:20px;
}
.col-form-label{
    font-size:13px;
}


.alert {
    padding: 0.5rem 1rem !important;
}

.form-group {
    margin-bottom: 0.5rem;
}
label{
    font-size:14px;
}

.font-bold-label{
    font-weight: 600;
}

/** **/
.modal-heading{
    border-bottom: 1px solid #f5f5f5;
    padding: 0px;
}
.modal-heading p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0px 0px 0px 0px;
    padding: 7px 15px;
}
.content-style{
    padding: 15px 15px !important;
}
.content-style p{
    font-size:14px;
}
.close-icon-style{
    position: absolute;
    right: 15px;
    top: 9px;
}
.btn-bottom-style{
    padding:20px;text-align:center
}

.submit-btn-upgrade{
    background-color: #1275af;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}


/** scrolling **/

.scrolling-comment{
    padding: 0px 0px 20px 0px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom:20px;
}
.comment-heading{
    padding: 20px 0px 0px 0px;
}

/* ::-webkit-scrollbar {
    width: 0.6em;
    height: 4em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #ccc;
}
::-webkit-scrollbar-thumb {
    background: #fdbc93;
} */

app-modal-property .modal.forgotpwdmodal{
z-index:9;
}

app-modal-property#forgotpwdmodal > .modal-background{
    z-index:8;
}
.col-md-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 15px;
}

.form-control{
    font-size: 13px !important;
}
.profile-img{
    border-radius: 50%;border: 1px solid #fff;
    width:120px;
}
@media(max-width:850px){
    .profile-img{
        width:90px;
    }
}