<div class="container-fluid no-gutters no-paddings container-bg inner-page-bg">
  <div class="container">
    <div class="alert alert-success" id="destination" *ngIf="flag">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Corporate Admin created successfully!!</strong>
      </div>
<div class="row" *ngIf="!flag">
          <div class="col-md-4 offset-md-5 userregisterForm">
           
                  <div class="login-heading">Corporate Admin Creation</div>
              <!-- <h4>Sign Up</h4>
          <p>Please fill in this form to create an account!</p> -->

              <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit(registerForm)">
                  <div class="form-group">
                      <!-- <label class="radio-inline" style="margin-right:6px;">
                          <input type="radio" formControlName="registerType" value="customer" > Customer
                        </label> -->
                      <!-- <label class="radio-inline">
                          <input type="radio" formControlName="registerType" value="agent"> Agent
                        </label> -->
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="companyName" class="form-control" placeholder="Company Name" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }"
                        maxlength="50" />
                    <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                        <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                        <div *ngIf="f.companyName.errors.minlength">Company Name should be minimum 2 characters</div>
                    </div>

                </div>
                  <div class="form-group row">
                      <!-- <label>First Name
                      <span class="mandatory">*</span>
                  </label> -->
                      <div class="col-md-6 col-12 padding-left-right-1">
                          <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                              minlength="2" maxlength="30" (keypress)="isChartsName($event)" />
                             
                              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                  <div *ngIf="f.firstName.errors.minlength">First Name should be minimum 2 characters</div>
                              </div>
                      </div>

                      <div class="col-md-6 col-12 padding-left-right-2 margin-top">
                          <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                              minlength="2" maxlength="30" (keypress)="isCharts($event)" />
                              
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                  <div *ngIf="f.lastName.errors.minlength">Last Name should be minimum 2 characters</div>
      
                              </div>
                      </div>


                     
                     

                  </div>

                  <div class="form-group">
                      <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                          maxlength="50" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.pattern">Please enter a valid email</div>
                      </div>
                      <div *ngIf="existsUser && existsUser.length > 0">
                          <div style="color:red">{{existsUser}}</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <!-- <label>Mobile Number
                      <span class="mandatory">*</span>
                  </label> -->
                      <input type="text" ng2TelInput [ngClass]="{ 'isie': isie, 'isienot': !isie }" [ng2TelInputOptions]="{initialCountry: 'in'}"
                          (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
                          (countryChange)="onCountryChange($event)" placeholder="Mobile Number" (keypress)="isNumberKey($event)"
                          pattern="[0-9]*" class="form-control1" [ngClass]="{ 'is-invalid': submitted && !mobileNumbererror }"
                          maxlength="10" />
                      <div *ngIf="submitted && !mobileNumbererror" style="color:#ff7b7b;font-size: 80%;font-weight: bold">
                          <!-- <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div> -->
                          <div *ngIf="!mobileNumbererror">Please Enter a valid mobile number </div>
                          <!-- <div *ngIf="f.mobileNumber.errors.pattern">Mobile numberr should be only numbers</div> -->

                      </div>
                  </div>

                  <div class="form-group">
                      <!-- <label>Password
                      <span class="mandatory">*</span>
                  </label> -->
                      <div class="passwordInput">
                          <input [type]="showText ? 'text' : 'password' " formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                              minlength="4" maxlength="20" />

                          <div class="showHideText" (click)="showTextPwd(registerForm)">
                              <i class="fa fa-eye-slash" *ngIf="hideIconEye"></i>
                              <i class="fa fa-eye" *ngIf="showIconEye" (mouseleave)="mouseoverpwd()"></i>
                          </div>



                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                              <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
                              <div *ngIf="f.password.errors.pwdstrong">Password should have At least one letter, one capital letter and one number</div>
                          </div>
                      </div>
                  </div>

                  
                  <div class="form-group" style="margin: 0px auto; width: 303px;padding-bottom:10px;">
                          <ngx-recaptcha2 #captchaElem 
                          [siteKey]="siteKey"
                          [size]="size"
                          [hl]="lang"
                          [theme]="theme"
                          [type]="type"
                          [useGlobalDomain]="false"
                          (reset)="handleReset()"
                          (expire)="handleExpire()"
                          (load)="handleLoad()"
                          (success)="handleSuccess($event)"
                          formControlName="recaptcha">
                        </ngx-recaptcha2>
                        <div *ngIf="submitted && f.recaptcha.errors" class="invalid-feedback1">
                          <div *ngIf="f.recaptcha.errors.required">Recaptcha is required</div>
                          
                        </div>
                          </div>


                  <div class="form-group" align="center" style="margin-top:15px;">
                      <button [disabled]="loading" class="login-btn">Sign Up</button>
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>
<app-loading-div-component1 *ngIf="isLoading"></app-loading-div-component1>
