<div class="table-container-style table-th-styles">

    <h5 class="tab-active-heading">Agent Approval</h5>

    <div class="table-responsive">
        <table class="table table-striped table-bordered" [mfData]="customers" #mf="mfDataTable" [mfRowsOnPage]="5">

            <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="firstName"> Name</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="mobileNo">Mobile Number</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="addedDate">Added Date</mfDefaultSorter>
                    </th>
                    <th>
                            <mfDefaultSorter by="status">Status</mfDefaultSorter>
                        </th>
                    <th class='text-center'>Action
                    </th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let customer of mf.data; let index = index">
                    <td>{{customer.firstName}} {{customer.lastName}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.mobileNo}}</td>
                    <td>{{customer.addedDate| date:'dd/MM/yyyy'}}</td>
                    <td><span *ngIf="customer.status==='P'">Pending Approval</span>
                        <span *ngIf="customer.status==='A'"> Approved</span></td>
                    <td style='text-align:center'>
                        <i class="fa fa-eye" style="cursor: pointer;" (click)="openModal('custom-modal-agent', customer)"></i>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="border:0px !important;padding:0px;">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- confirm modal for delete action-->
<modal id="custom-modal-agent" *ngIf="agentDetails != ''">
    <div class="modal ">
        <div class="row justify-content-md-center no-gutters">
            <div class="modal-body col-md-7" style="padding:0px;">

                <div class='col modal-heading'>
                    <p class="padding-heading-modal" style="padding:10px 20px;margin:0px;">Agent Approval Details
                    </p>
                </div>
                <!-- <app-loading-div *ngIf="isLoading"></app-loading-div> -->

                <div style='position:absolute;right:20px;top:10px;'>

                    <i class="fa fa-times closeIcon-style" aria-hidden="true" (click)="closeModal('custom-modal-agent')"></i>
                </div>

                <div>
                        <div class="alert alert-success" id="propertyDestination" *ngIf="updateuserstatus!=''">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>{{updateuserstatus}}</strong>
                            </div>
                    <div class="col">
                        <div class="d-flex justify-content-center" style="margin-top:20px;">
                            <div class="approvalReject">
                                <div *ngIf="userstatus == 'P'" (click)="agentApprovalReject(agentDetails)">
                                    Approval
                                </div>
                                <div *ngIf="userstatus!= 'P'" (click)="agentApprovalReject(agentDetails)">
                                    Reject
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding:20px;">
                            <div class="col-md-6 col-">
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Name:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.firstName}} {{agentDetails?.lastName}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Email:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.email}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Mobile Number:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.mobileNo}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Address Line1:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.address1}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Address Line2:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.address2}}
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">City:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.city}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">State:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.state}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Country:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.country}}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Zip:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.zip}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5 col-form-label font-bold-label">Description:</div>
                                    <div class="col-sm-7 col-form-label">
                                        {{agentDetails?.description}}
                                    </div>
                                </div>
                            </div>


                        </div>





                        <div class="col" align="center" style="padding:20px;">
                            <button type="button" class="submit-btn" (click)="closeModal('custom-modal-agent')">Cancel</button>
                        </div>


                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="modal-background"></div>
    <!-- <app-loading-div-component1 *ngIf="isLoading"></app-loading-div-component1> -->
</modal>