<div class='container-fluid no-padding container-top-padding'>
    <div class="container need-padding">
        <h3 class="page-heading-1">5 trends shaping India's residential property sector  </h3>
        <div class="row">
            <p class="content-style" style="padding-top:35px;">
                There are things in property sector that change gradually, while there are some that change at once. However, government policies, changes in the climate or economy are some factors that always affect property sector. In this article, we have curated for you some top 5 trends in residential property,  that have come about due to the above changes in India. And it looks like they are here to stay for some time. <br><br>
           
            </p>
            
            <h4>1 Regardless of project size, basic amenities are on rise <br></h4>
            <p class="content-style">
             
                Buyers are pushing realtors to provide basic amenities in housing projects whether they are inside townships or are standalone buildings. Basics include parking, a small garden, good security and power back-up. Even modest-sized residential projects are now willing to provide these amenities in stand-alone properties.<br><br>
            </p>
            <h4>2 Larger developers entering affordable segment <br></h4>
            <p class="content-style">
             
                The Modi Government focused on affordable housing during its tenure that helped encouraged developers in this segment. This saw larger players such as Mahindra Lifespace, Tata Housing, Puravankara Projects or Shapoorji Pallonji Group entering this segment. In fact, Emgee Group announced an investment of Rs 1,600 crore into the affordable housing segment in the next five years. This has given confidence to private equity players to partner with developers operating in this specific niche. PE firms such as Essel Finance Advisors, Brick Eagle Capital, Avenue Venture Partners Real Estate, Nisus Finance Services have launched such partnerships. Regardless of the change in the government, this has set off a trend in the housing sector which looks likely to continue.<br><br>
            </p>
            <h4>3 New BHK trends in Bengaluru, Chennai <br></h4>
            <p class="content-style">
             
                Chennai’s reality space saw the emerging of a new trend last year with the entry of 1BHKs and studios. At the same time, there’s a rise in the popularity of ‘Half-a-room’ in the reality sector of Bengaluru. These half rooms are catering to young professionals, singles and couples as a convenient and affordable options.<br><br>
            </p>
            <h4>4  Plots are making a come-back <br></h4>
            <p class="content-style">
             
                The supply and the demand of plots had suffered a major blow due to demonetisation in 2016. That’s because land transactions in India involve a larger cash component so the builders weren’t willing to take any risks during that period. A research in 2018 showed that during the first quarter of 2018, plots had a clear majority in Bengaluru and this has been steadily increasing. In this specific quarter, a whopping 64% were plots followed by apartments by 34%. On the other hand, Chennai and Hyderabad recorded a supply of plots by 22% and 31% respectively.<br><br>
            </p>
            <h4>5 Redressals on social media <br></h4>
            <p class="content-style">
             
                Real estate developers have realized the power of social media in brand image management now. That’s because leading players have to have social media pages where homeowners are demanding redressal to their grievances openly. While homebuyers are taking to social media as a way to get developers’ attention, the latter also have an opportunity to tap potential customers through these platforms.<br><br>
              </p>
              <p class="content-style">
             
                  The above information has been curated from authentic real estate magazines, digital platforms on finance and property and leading dailies.
                </p>
        </div>
        

    </div>
  </div>