<div class="row justify-content-md-center row no-gutters">
  <div class="col">
    <form [formGroup]="otpForm" (ngSubmit)="OTPSave()">
      <div class="form-group">
        <label for="otpInput">Please enter OTP</label>
        <input type="text" class="form-control" id="otpInput" aria-describedby="otpHelp" 
        placeholder="Enter OTP" formControlName="otp" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }">
        <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
            <div *ngIf="f.otp.errors.required">OTP is required</div>
        </div>
      </div>
      <div class="col" align="center">
        <button type="submit" class="submit-btn">Validate OTP</button>
      </div>
      <div class="col">
        <p>OTP has been sent to your mobile and Email.</p>
      </div>
    </form>
    <div class="col" align="center" *ngIf="errorMessage && errorMessage.length > 0">
      <p style="color:red">{{errorMessage}}</p>
    </div>
  </div>
</div>
<app-loading-div *ngIf="isLoading"></app-loading-div>