<div class="row justify-content-md-center row no-gutters" style="padding-top:100px;padding:30px;">

  <div class="col col-md-4 userloginForm">
    <h4>Admin Login</h4>
    <p>Please enter registered email and password with Us!</p>
    <form [formGroup]="userloginForm" (ngSubmit)="saveUser(userloginForm)">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input [attr.disabled]="disabledField ? true : null" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>

      </div>


      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input [attr.disabled]="disabledField ? true : null" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
          formControlName="userpwd" [ngClass]="{ 'is-invalid': submitted && f.userpwd.errors }">
        <div *ngIf="submitted && f.userpwd.errors" class="invalid-feedback">
          <div *ngIf="f.userpwd.errors.required">Password is required</div>
        </div>


      </div>



      <div class="col" align="center">
        <!-- <button type="submit" class="btn btn-primary" [disabled]="!userloginForm.valid" >Submit</button> -->
        <button type="submit" class="submit-btn">Login</button>
      </div>
    </form>
    <div class="row justify-content-md-center" *ngIf="invalidCredential !='' ">
      <p style="padding:10px;font-size:13px;color:red;">{{invalidCredential}}</p></div>
    <div class="row justify-content-md-center">
      <p style="padding:10px;font-size:13px;color:red;">{{attemptloginMessage}}</p>
    </div>


  </div>
</div>
