.paypal-button.paypal-button-color-gold {
    background: #fd8236 !important;
}
.paypal-button:not(.paypal-button-card) {
    background-color: #fd8236 !important;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
    outline: 0;
    outline-style: none;
}
.paypal-button-tagline {
    display: none !important;
}
.payment-details-bg{
    background-color: #f9f9f9 !important;
    padding: 20px; margin: 30px auto;
}
@media(max-width:600px){
    .payment-details-bg{
        padding: 10px !important; 
        margin: 30px auto !important;}

       .payment-edit-layout {
            position: absolute;
            top: -33px!important;
            right: 5px!important;;
        }
}

.payment-edit-layout{
    position: absolute;
    top: 15px;
    right: 20px;
}