<div class="container-fluid inner-padding-1 inner-page-bg">

  <div class="contactus-bg" style="text-align: center;padding-top: 25px;">
    <div class="getin-text">GET IN</div>
    <div class="touch-text">TOUCH</div>
  </div>








  <div class='container'>
    <div class="row">

      <div class="contactus-container">
        <div class="col-md-6">
          <h3>Contact Information</h3>
          <div class="row">
            <div class="col-md-12 contact-padding">
              <div class="contact-img-1">
                <img src="../../assets/images/location.png" width="25px;" />
              </div>
              <div class="contact-text-1">Financial District, Gachibowli,
                <br>Hyderabad 500032</div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12 contact-padding">

              <div class="contact-img-1">
                <img src="../../assets/images/phone.png" width="25px;" />
              </div>
              <div class="contact-text-1">
                <a *ngIf="!mobile" href="tel: +917045942225" target="_blank">(+91) 7045942225</a>
                <a *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-7045942225" target="_blank">(+91) 7045942225</a>
                /
                <a *ngIf="!mobile" href="tel: +919845733344" target="_blank">(+91) 9845733344</a>
                <a *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-9845733344" target="_blank">(+91) 9845733344</a>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 contact-padding">

              <div class="contact-img-1">
                <img src="../../assets/images/whatsapp_1.png" width="25px;" />
              </div>
              <!-- <img src='../../assets/images/whatsapp.png' width="25px" height="25px"> -->
              <!-- <i class="fa fa-whatsapp" aria-hidden="true"></i> -->
              <div class="contact-text-1">
                <a *ngIf="!mobile" href="tel: +917045942225" target="_blank">(+91) 7045942225</a>
                <a *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-7045942225" target="_blank">(+91) 7045942225</a>
                /
                <a *ngIf="!mobile" href="tel: +919845733344" target="_blank">(+91) 9845733344</a>
                <a *ngIf="mobile" href="https://api.whatsapp.com/send?phone=+91-9845733344&text=Welcome%20to%20eGaze" target="_blank">(+91) 9845733344</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 contact-padding">

              <div class="contact-img-1">
                <img src="../../assets/images/message.png" width="25px;" />
              </div>

              <div class="contact-text-1">
                <a href="mailto:support@egaze.in" target="_blank">support@egaze.in</a>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 contact-padding">
              <div class="contact-img-1">
                <img src="../../assets/images/url.png" width="25px;" />
              </div>

              <div class="contact-text-1">
                <a href="https://www.egaze.in" target="_blank">
                  https://www.egaze.in</a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="alert alert-success" id="destination" *ngIf="status">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Successfully sent your request to Admin.</strong>
          </div>
          <form [formGroup]="contactusForm" novalidate (ngSubmit)="savedata(contactusForm)">
            <div class="form-group">

              <select class="form-control select-box form-control-sm"  formControlName="type" (ngModelChange)="getType($event)" [ngClass]="{ 'is-invalid': submitted && f.type.errors }"
               >
                <option [selected]>Type</option>
                <option value="Issue">Issue</option>
                <option value="Feedback">Feedback</option>
                <option value="General enquiry">General enquiry</option>
              </select>

              <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                <div *ngIf="f.type.errors.required">Type is required</div>
              </div>
            </div>



            <div class="form-group">

              <input type="text" formControlName="name" class="form-control  form-control-sm" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                (keypress)="isCharts($event)" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.minlength">Please enter a valid Name with a minimum of 4 and maximum 50 characters</div>
              </div>
            </div>


            <div class="form-group">

              <input type="text" formControlName="email" class="form-control  form-control-sm" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Please enter valid email</div>
              </div>
            </div>
            <div class="form-group">

              <input type="text" formControlName="mobile" (keypress)="isNumberKey($event)" class="form-control" placeholder="Mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                maxlength="10" />
              <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                <div *ngIf="f.mobile.errors.minlength">Please enter a valid mobile number</div>
                <div *ngIf="f.mobile.errors.maxlength">Max size of Mobile is 10 digits</div>
              </div>
            </div>
            <div class="form-group" style="position: relative">


              <textarea class="form-control  form-control-sm" placeholder="Description" rows="3" formControlName="description" id="exampleFormControlTextarea1"
                style='resize:none;' [ngClass]="{ 'is-invalid': submitted && f.description.errors }" maxlength="250"></textarea>



              <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
                <div *ngIf="f.description.errors.minlength">Please enter Minimum 5 characters and Maximum 250 Characters</div>
                <div style="position:absolute;right:0px;bottom:-21px;font-size: 14px;color:#ccc">{{f.description.value ? f.description.value.length : 0}}/250</div>

              </div>
              <div *ngIf="f.description.errors===null || !submitted" style="position:absolute;right:0px;bottom:-21px;font-size: 14px;color:#ccc">{{f.description.value ? f.description.value.length:0}}/250</div>



            </div>

            <div class="form-group" style="margin: 0px auto; width: 303px;padding-bottom:10px;">
              <ngx-recaptcha2 #captchaElem 
              [siteKey]="siteKey"
              [size]="size"
              [hl]="lang"
              [theme]="theme"
              [type]="type"
              [useGlobalDomain]="false"
              (reset)="handleReset()"
              (expire)="handleExpire()"
              (load)="handleLoad()"
              (success)="handleSuccess($event)"
              formControlName="recaptcha">
            </ngx-recaptcha2>
            <div *ngIf="submitted && f.recaptcha.errors" class="invalid-feedback1">
              <div *ngIf="f.recaptcha.errors.required">Recaptcha is required</div>
              
            </div>
              </div>
            <div class="col" align="center">
              <button type="submit" class="submit-contact-btn">Send Message</button>
            </div>
          </form>
          <app-loading-div *ngIf="isLoading"></app-loading-div>
        </div>
      </div>

    </div>
  </div>
</div>