/** css added by srinivas starts here **/
.page-heading-1{
    font-size: 36px;
    padding: 15px 0px 0px 0px;
    color: #4e4d4d;
    margin: 0px;
}

h4 {
    font-family: 'open_sansregular';
}

.additional-style  {
    box-shadow: 0 0 24px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 0px 40px 10px 40px;
    border-radius: 20px;
}
.additional-style h4 {
    color:#19a2e9;
}
.additional-style h3 {
    color:#066b92 !important;
}
.need-padding {
    padding: 20px 55px;
}
