<div class='container-fluid container-top-padding' style="background-color: #fff;">
  <div class="row">
    <div class="col-md-12 content-container" style="min-height:420px;font-size:18px;">

      <!-- 
        <h6 class="heading-style-1" >Testimonials</h6>
           
          <p><b>From our clients:</b></p>
        
        
          <p class="content-style">
            
            &quot;I came across this site through a friend&#39;s recommendation and found the service
              really great. Would gladly refer this for anyone staying abroad with property in India.&quot;
             </p>
             
             <p class="content-style">
              &quot;I was looking online for help with some property tax payments, etc. and even tried
              hiring some through some agents. But I never found anyone as reliable and
              trustworthy as you guys. Keep up the good work.&quot;
            </p> 
            
            <p class="content-style">
              &quot;I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take
              care of my farmhouse, without even speaking to anybody&quot;
        </p>
    
      -->

      <!--
      <div class="container" style="padding-bottom:50px;">
        <div style="text-align: center;color: rgba(255,255,255,0.6);padding-top:30px;padding-bottom:50px;">
          <h5>Testimonials</h5>
          <h1 style="padding:0px;margin: 0px; font-size: 26px;color: #fff;">Happy Customers</h1>
        </div>


        <div class="row">
          <div class="col-md-6">
              <div style="color:#fff;padding-bottom:10px;">
                  <div style="display: inline-block"><img src="../../assets/images/men_pic.png" width="65px;">
                  </div>
                  <div class="pic-feedback">
                   <p class="pic-feedback-heading">Dr. Shiva kumar</p>
                   <p class="pic-feedback-heading-sub">Hyderabad, India.</p>
                  </div>
                  </div>

            <p style="color:#fff;font-size:16px;margin:0px;line-height:22px;padding-bottom:20px;">&quot; I came across this site through a friend&#39;s recommendation and found the service really great. Would gladly
              refer this for anyone staying abroad with property in India. &quot;
            </p>
          </div>
          <div class="col-md-6">
              <div style="color:#fff;padding-bottom:10px;">
                  <div style="display: inline-block"><img src="../../assets/images/men_pic.png" width="65px;">
                  </div>
                  <div class="pic-feedback">
                   <p class="pic-feedback-heading"> Rajashekar K</p>
                   <p class="pic-feedback-heading-sub">Hyderabad, India.</p>
                  </div>
                  </div>
            <p style="color:#fff;font-size:16px;margin:0px;line-height:22px;padding-bottom:20px;">&quot; I was looking online for help with some property tax payments, etc. and even tried hiring some through some agents.
              But I never found anyone as reliable and trustworthy as you guys. Keep up the good work. &quot;
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div style="color:#fff;padding-bottom:10px;">
            <div style="display: inline-block"><img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <div class="pic-feedback">
             <p class="pic-feedback-heading">Laxman M</p>
             <p class="pic-feedback-heading-sub">Hyderabad, India.</p>
            </div>
            </div>
            <p style="color:#fff;font-size:16px;margin:0px;line-height:22px;padding-bottom:20px;">
                &quot; I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take care of my farmhouse, without even
              speaking to anybody. &quot;
            </p>
          </div>
          <div class="col-md-6">
              <div style="color:#fff;padding-bottom:10px;">
                  <div style="display: inline-block"><img src="../../assets/images/men_pic.png" width="65px;">
                  </div>
                  <div class="pic-feedback">
                   <p class="pic-feedback-heading">Kishore kumar</p>
                   <p class="pic-feedback-heading-sub">Bangalore, India.</p>
                  </div>
                  </div>
            <p style="color:#fff;font-size:16px;margin:0px;line-height:22px;padding-bottom:20px;">&quot; 
              
                I am very happy to use this portal. It will take care of my property things. Thanks to egaze.in
              . &quot;
            </p>
          </div>
        </div>

      </div>


-->

      <div class="container testimonials-padding">

<div class="row">

  <div class="col-md-3 col-sm-3 col-12">

  <div style="text-align:left;position: absolute;left:0px;top:0px;color:#1275af">
 <img src="../../assets/images/quotes_icon.jpg" width="100px"/>
  </div>

<p class="testimonials-heading">Testimonials</p>

  </div>

  <div class="col-md-9 col-sm-9 col-12">

        <div class="testimonials-bg-style">

          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Dr. Shiva kumar</p>
            <p class="testimonials-address">Hyderabad, India.</p>
            <p class="testimonials-content">I came across this site through a friend&#39;s recommendation and found the service really great. Would gladly
              refer this for anyone staying abroad with property in India.
            </p>
          </div>


          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Laxman M</p>
            <p class="testimonials-address">Hyderabad, India.</p>
            <p class="testimonials-content">I was looking online for help with some property tax payments, etc. and even tried hiring some through some agents.
                But I never found anyone as reliable and trustworthy as you guys. Keep up the good work.
            </p>
          </div>

          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Srinivas Maragani</p>
            <p class="testimonials-address">Bangalore, India.</p>
            <p class="testimonials-content">I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take care of my farmhouse, without even
                speaking to anybody.
            </p>
          </div>

        </div>


      </div>
    </div>




        

      </div>







    </div>
  </div>
</div>