<!-- <div class='container-fluid container-top-padding' style="background-color: #fff;">
  <div class="row">
    <div class="col-md-12 content-container" style="min-height:420px;font-size:18px;">

      <div class="container testimonials-padding">

<div class="row">

  <div class="col-md-3 col-sm-3 col-12">

  <div style="text-align:left;position: absolute;left:0px;top:0px;color:#1275af">
 <img src="../../assets/images/quotes_icon.jpg" width="100px"/>
  </div>

<p class="testimonials-heading">Testimonials</p>

  </div>

  <div class="col-md-9 col-sm-9 col-12">

        <div class="testimonials-bg-style">

          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Dr. Shiva kumar</p>
            <p class="testimonials-address">Hyderabad, India.</p>
            <p class="testimonials-content">I came across this site through a friend&#39;s recommendation and found the service really great. Would gladly
              refer this for anyone staying abroad with property in India.
            </p>
          </div>


          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Laxman M</p>
            <p class="testimonials-address">Hyderabad, India.</p>
            <p class="testimonials-content">I was looking online for help with some property tax payments, etc. and even tried hiring some through some agents.
                But I never found anyone as reliable and trustworthy as you guys. Keep up the good work.
            </p>
          </div>

          <div class="testimonials-style">
            <div>
              <img src="../../assets/images/men_pic.png" width="65px;">
            </div>
            <p class="testimonials-name">Srinivas Maragani</p>
            <p class="testimonials-address">Bangalore, India.</p>
            <p class="testimonials-content">I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take care of my farmhouse, without even
                speaking to anybody.
            </p>
          </div>

        </div>


      </div>
    </div>




        

      </div>







    </div>
  </div>
</div> -->

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <link href="assets/js/bootstrap3.2.min.css" rel="stylesheet" id="bootstrap-css"> -->

<div class="container-fluid inner-padding-1 inner-page-bg">

    <div class="contactus-bg" style="text-align: center;padding-top: 25px;">
      <div class="getin-text">TESTIMONIALS</div>
    </div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner text-center">
                  <!-- Quote 1 -->
                  <div class="carousel-item active">
                          <div class="row">
                              <div class="col-sm-12 col-sm-offset-2">
                                  <p class="testimonials-name">Dr. Shiva kumar</p>
                                  <p class="testimonials-address">Hyderabad, India.</p>
                                  <p class="testimonials-content">I came across this site through a friend&#39;s recommendation and found the service really great. Would gladly
                                    refer this for anyone staying abroad with property in India.
                                  </p>
                              </div>
                          </div>
                  </div>
                  <!-- Quote 2 -->
                  <div class="carousel-item">
                          <div class="row">
                              <div class="col-sm-12 col-sm-offset-2">
                                  <p class="testimonials-name">Laxman M</p>
                                  <p class="testimonials-address">Hyderabad, India.</p>
                                  <p class="testimonials-content">I was looking online for help with some property tax payments, etc. and even tried hiring some through some agents.
                                      But I never found anyone as reliable and trustworthy as you guys. Keep up the good work.
                                  </p>
                              </div>
                          </div>
                  </div>
                  <!-- Quote 3 -->
                  <div class="carousel-item">
                          <div class="row">
                              <div class="col-sm-12 col-sm-offset-2">
                                  <p class="testimonials-name">Srinivas Maragani</p>
                                  <p class="testimonials-address">Bangalore, India.</p>
                                  <p class="testimonials-content">I was pleasantly surprised at the ease-of-use, of using a self-managed portal to take care of my farmhouse, without even
                                      speaking to anybody.
                                  </p>
                              </div>
                          </div>
                  </div>
              </div>
              <!-- Bottom Carousel Indicators -->
              <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                  </li>
                  <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                  </li>
                  <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                  </li>
              </ol>

              <!-- Carousel Buttons Next/Prev -->
              
              <a class="" href="#quote-carousel" data-slide="prev">
                  <span class="carousel-control-prev-icon carousel-control-prev"></span>
                </a>
                <a class="" href="#quote-carousel" data-slide="next">
                  <span class="carousel-control-next-icon carousel-control-next"></span>
                </a>
          </div>
      </div>
  </div>
</div>
</div>
