<div class="container-bg-style">
  <h5 class="tab-active-heading">Property Assignment to Agent</h5>
<form [formGroup]="propertyAssignmentForm" (ngSubmit)="propertyAssignment(propertyAssignmentForm)">


<div class="alert alert-success" id="destination" *ngIf="status!=''" >
<a href="#" class="close" data-dismiss="alert">&times;</a>
<strong>{{status}}</strong>
</div>
 

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Agent <span class="mandatory">*</span></label>
    <div class="col-sm-4">
     
      <select class="form-control" formControlName="agent" class="form-control" (ngModelChange)="agenttype($event)" [ngClass]="{ 'is-invalid': submitted && f.agent.errors }">
        <option value="" >Select Agent</option>
        <option *ngFor="let agent of agents" value="{{agent.loginId}}">{{agent.email}}</option>
       
    </select>
    
      <div *ngIf="submitted && f.agent.errors" class="invalid-feedback">
        <div *ngIf="f.agent.errors.required">Agent is required</div>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Property <span class="mandatory">*</span></label>
    <div class="col-sm-4">
     
      <select class="form-control" formControlName="property" class="form-control" (ngModelChange)="propertytype($event)" [ngClass]="{ 'is-invalid': submitted && f.property.errors }">
        <option value="" >Select Property</option>
        <option *ngFor="let property of properties" value="{{property.id}}##{{property.loginId}}">{{property.propertyCode}}</option>
       
    </select>
    
      <div *ngIf="submitted && f.property.errors" class="invalid-feedback">
        <div *ngIf="f.property.errors.required">Property is required</div>
      </div>

    </div>
  </div>

  <div class="form-group col-sm-6" align="center" style="margin-top:25px;">
    <button type="submit" class="submit-btn">Assign</button>
  </div>



</form>
<div class="property-tab-style table-container-style table-responsive">
    <div *ngIf='assignedproperties.length == 0'>No Assigned Properties.</div>
<table *ngIf="assignedproperties.length > 0" class="table table-striped table-bordered" [mfData]="assignedproperties" #mf="mfDataTable" [mfRowsOnPage]="5" style="border:0px">

  <thead>
      <tr>
          <th>
              <mfDefaultSorter by="propertyCode">Property Code</mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="agentEmail">Agent Email</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="status">Status</mfDefaultSorter>
        </th>
            <th>
        <mfDefaultSorter by="addedDate">Added Date</mfDefaultSorter>
    </th>
        <th>Remove/Reassign</th>
      </tr>
  </thead>

  <tbody>

      <tr *ngFor="let doc of mf.data; let index = index">
          <td>{{doc.propertyCode}}</td>
          <td>{{doc.agentEmail}}</td>
          <td>
              <span *ngIf="doc.status==='D'">Removed</span>
              <span *ngIf="doc.status==='A'"> Assigned</span>
       
          </td>
          <td>{{doc.addedDate | date :'dd/MM/yyyy'}}</td>
       <td>
          <span *ngIf="doc.status==='D'"><a (click)="remove('A',doc.id)">Assign</a></span>
          <span *ngIf="doc.status==='A'"> <a (click)="remove('D',doc.id)">Remove</a></span>  
       </td>
      </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="5" style="border:0px !important; padding:0px;">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
</tfoot>
</table>

</div>
</div>
<app-loading-div-component1 *ngIf="isLoading"></app-loading-div-component1>