.container-style{
    padding: 20px;
    background-color: #fffbfb;
    border-radius: 6px;
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
    min-height:400px;
}
.heading-style-1{
    background: #1275af;
    padding: 10px;
    color: #fff;
    text-shadow: 1px 2px #000;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 30px;
}
p.content-style{
    font-size: 15px;
    line-height: 22px;
    word-wrap: nowrap;
    text-align: justify;
}
h4{
    font-size: 22px;
}
ul li{
    font-size:14px;
}


.inner-padding-1{
    padding-top: 131px;
padding-left: 0px;
padding-right: 0px;
}
.contactus-bg{
background: url(../../assets/images/contactus_bg.jpg) no-repeat center center;
height: 190px;
background-size: cover;
}

.touch-text{
    margin: 0px;
    color: #fff;
    font-size: 42px;
    padding: 0px;
    line-height: 54px;
    font-weight: bold;
}
.getin-text{
margin: 0px;
font-size: 43px;
padding: 0px;
line-height:43px;
color: #e2e0e0;
}

.inner-page-bg{
    background: url(../../assets/images/inner_page_bg.png) no-repeat center bottom fixed;
    background-size:cover;
    background-color: #f6f4f5;
  }

  .contactus-container{
    padding: 30px 2%;
    background-color: #fff;
    margin: 30px auto;
    box-shadow: 0px -1px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: inline-flex;
    width:90%;
  }

  .faqs-container{
    position: relative;
   /* width: 400px;*/
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
  }
  .faqs-1{
      display: inline-block;
  }
  .support-btn{
    background-color: #00bff3;
    padding: 8px 11px;
    color: #fff;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /*margin-right: -2px;*/
    margin-right: -12px; 
    cursor: pointer;

  }

  .faqs-textbox{
    border:0px;
    width:100%;
    outline: 0px;
  }
  .faqs-tag{
    color: #fff;
    font-size: 18px;
    padding-top: 8px;
  }
  .panel-default-heading{
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    border: 1px solid #b5b2b2;
  }

  .panel-default-heading h4 a{
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
  
  }
  .open-div{
    padding: 10px;
    background-color: #e3edfd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #b5b2b2;
    margin-top: -1px;
  }
  .open-div .panel-body{
    color:#424242;
    line-height: 20px;
    font-size: 16px;
    text-align: left;
    padding-left: 35px;
  }
  a {
    color: #424242;
    text-decoration: none;
  }

  .plus-style{
    position: relative;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    top: 6px;
  }
  .plus-style img{
    max-width: 100%;
    position: absolute;
  }
  .plus-style.activeImg{
    background-image: url(../../assets/images/accordian_plus.png);
    width:10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .inactiveImg{
    background-image: url(../../assets/images/accordian_minus.png);
    width:10px;
    background-position: center;
    background-repeat: no-repeat;
  }
  

  .panel-heading .accordion-toggle:before {
    float: left;        /* adjust as needed */
    content: url('../../assets/images/accordian_minus.png' );
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 4px;
    top: 6px;
    padding: 5px;
    margin-top: 5px;

}
.panel-heading .accordion-toggle.collapsed:before {
    /* symbol for "collapsed" panels */
    content: url('../../assets/images/accordian_plus.png');  
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 4px;
    top: 6px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    margin-top: 5px;
    /* adjust as needed, taken from bootstrap.css */
}
.accordion-toggle img {
  width: 15px;
}
.invalid-feedback {
  /* display: none; */
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

/** srinivas css start **/

.search-icon {
  margin-left:-10px !important;
  
}