<div class="container-fluid inner-padding-1 inner-page-bg ">
  <div class="contactus-bg">
    <div class="touch-text">Refund Policy</div>
    <div _ngcontent-c4="" style="text-align:center"><img _ngcontent-c4=""
        src="../../assets/images/underline_testimonials.png" width="150px;"></div>
  </div>
</div>

<div class='container need-padding' style="">

  <div class="additional-style">
    <div class="col-md-12 content-container" style="min-height:420px;font-size:18px;text-align:center">
      <p class="content-style">
        Thank You for buying our service.</p>
      <p class="content-style">
        If you are not entirely satisfied with your purchase, we are here to help.</p>
      <p class="content-style">
        Please go through our refund policy, in case of doubts and additional information in this
        section contact us <a href="mailto:support@egaze.in">support@egaze.in</a> </p>
        
      <div class="package-options content-style">
        <ul>
          <li> <i class="fa fa-check"></i>
            Before legal verification, you are eligible for 100% refund.
          </li>
          <li> <i class="fa fa-check"></i>
            Before first visit to your property you are eligible for 85% refund.
          </li>
          <li> <i class="fa fa-check"></i>
            After first visit to your property you are eligible for 50% refund.
          </li>
          <li> <i class="fa fa-check"></i>
            After third visit to your property you will no longer be eligible and won’t be able to
            receive a refund.
          </li>
        </ul>
      </div>
      <p class="content-style">
      Your money will be credited back to your source credit/debit card or your source account
      through which the payment was done. It will take 15 business working days to credit
      your account with the refund value.</p>
      <p class="content-style">

          For additional information contact us at <a href="mailto:support@egaze.in">support@egaze.in</a>
      </p>

    </div>
  </div>
</div>